body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

.container {
  width: 80%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #48e5c2;
  border-radius: 10px;
  font-size: 3rem;
  color: red;
}
